.forgot-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 6rem;
}

.forgot-form {
    width: 30%;
}

.forgot-image {
    width: 35%;
    height: auto;
}

.vertical-line {
    border-left: 1px solid #DDE4F0;
    height: 80vh;
    width: 1px;
}

@media (max-width: 1024px) {
    .forgot-page {
        margin: 0 3rem;
    }
}

@media (max-width: 768px) {
    .forgot-page {
        flex-direction: column;
        margin: 0 2rem;
        justify-content: center;
        align-items: center;
    }

    .vertical-line {
        display: none;
    }

    .forgot-image {
        display: none;
    }

    .forgot-form {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .forgot-page {
        margin: 0 1rem;
        justify-content: center;
        align-items: center;
    }
}