.forgotPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 6rem;
}

.forgotForm {
    width: 30%;
}

.forgotImage {
    width: 35%;
    height: auto;
}

.verticalLine {
    border-left: 1px solid #DDE4F0;
    height: 80vh;
    width: 1px;
}