.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-mark {
    height: 48px;
    width: auto;
    margin-bottom: 20px;
}

.logo-type {
    height: 32px;
    width: auto;
    margin-bottom: 20px;
}