.editProfileSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.editProfileCard {
    border: 1px solid #DDE4F0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttonRow {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
}