.profile-layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content {
    padding: 2rem 3rem;
    box-sizing: border-box;
    background-color: #ebf1f3;
    min-height: calc(100vh - 5rem);
    max-height: auto;
}