.analysis-content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analysis-graph {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}